

select {
  border: 1px solid #ccc;
}

textarea {
  border: 1px solid #ccc;
  padding: 8px;
  min-height: 30px;
}

input[type="text"] {
  border: 1px solid #ccc;
}
button {
  padding: 4px 10px;
  /* border: 1px solid #ccc; */
  background: #24a0ed;
  color: #fff;
  font-weight: 700;
}
button[disabled] {
  background: #ccc;
}

.container {
  max-width: 1040px;
  padding: 0 20px;
  margin: 0 auto;
}

.generate-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  margin: 40px auto 0;
  /* max-width: 1000px; */
}
@media screen and (max-width: 768px) {
  .generate-form {
    font-size: 14px;
    flex-wrap: wrap;
  }
}
.generated-image-area {
  display: flex;
  justify-content: center;
  margin: 20px auto 0;
}
.text {
  text-align: center;
  color: #24a0ed;
  line-height: 1.5;
  font-size: 20px;
  margin: 40px auto 0;
}
